/* Write your CSS code here */
.main-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-container {
  text-align: left;
  width: 35%;
}

.heading {
  color: #1e293b;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Roboto';
}

.description {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
}

.btn {
  color: #ffffff;
  background-color: #0967d2;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
}
